.buttons {
    margin: 20px 0;
}

.explorer-buttons > *:not(:first-child)  {
    margin-left: 5px !important;
    margin-bottom: 15px;
}

.files {
    margin: 20px 0;
}

.up-button {
    display: block;
    margin: 10px 0;
}
